select {
     color: black;
     width: 250px;
}
input {
     width: 250px;
     color: black;
     padding: 0;
}
textarea {
     color: black;
}
.divButContact {
     display: block;
     margin: auto;
     margin-bottom: 15px;
}
