
@font-face {
    font-family: "york";
    src: url('../polices/york/york.ttf');
}
body {
     background-image: url("../pics/Bois.jpg");
}
header {
     background-color: #419641;
}
/*-------------------NARVBAR-------------------*/
.navbar-toggle {
  margin-top: 15px;
}
.icon-bar {
     background-color: white;
}
.titleMobile {
    position: relative;
    float: left;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 8px;
    font-family: york;
    font-size: 1.8em;
}
.navbar-nav a {
     color: white;
}
.glyphicon-cutlery,
.glyphicon-envelope,
.glyphicon-home,
.fa-futbol-o {
     visibility: hidden;
}
.menutitre {
     font-family: bira;
}
.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
}
.COORDONNÉES {
    background-color: black;
}
.COORDONNÉES li{
    display: inline-block;
    width: 250px;
}
.divCoord {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttonLocalisation {
    width: 50px;
}
.navbar-nav {
     width: 100%;
     text-align: center;
     padding-left: 11%;
     padding-right: 11%
     > li {
          float: none;
          display: inline-block;
     }
}
/*-------------------MEDIA-------------------*/
@media (max-width: 768px) {
     .glyphicon-cutlery,
     .glyphicon-envelope,
     .glyphicon-home,
     .fa-futbol-o {
          visibility: visible;
     }
}
@media (min-width: 768px) {
     .navbar-nav>li>a {
          font-size: 190%;
     }
    .titleMobile{
         display: none;
    }
    .textnav{
         padding-top: 45px;
    }
}
@media (max-width: 768px) {
    .logonav {
        visibility: hidden;
     }/*disparition logo toggle en petit ecran*/
}
