.eventText {
     font-size: 3.5vw;
     text-align: center;
}
.img-event {
     margin: auto;
}
.contactDiv {
     text-align: center;
     margin-bottom: 30px;
}
.divTEXT {
     margin-top: 2.5%;
}
hr {
     border-top: 1px solid #419641;
}
